
<link rel="stylesheet" href="/styles/global.css">

<title>Ratnia.io</title>
<body style="background-color: #46344d; font-family: 'Arial', sans-serif;">
<div class="min-h-screen flex flex-col bg-gray-900 text-white center" style="text-align: center; font-family: 'Arial', sans-serif; font-size: 35px;" >
  <nav class="bg-gray-800 rgb(202 89 247) p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-4xl font-bold mb-4" >Ratnia.io</h1>
      <a href="#" class="text-xl font-bold">Ratnia.io</a>
      <div>
        <a href="#features" class="mr-4 hover:underline">idiots</a>
        <a href="#contact" class="hover:underline">Contact</a>
      </div>
    </div>
  </nav>

  <main class="flex-grow container mx-auto px-4 py-16 text-center">
    <p class="text-lg mb-8">bunny moment</p>
    <div>
  </main>

  <footer class="bg-gray-800 text-white p-4 text-center">
    &copy; 2024 Ratnia.io. All rights reserved.
  </footer>
</div>
</body>