:root {
  text-align: center;
  --primary-color: #ff719c;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

App {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--sans);
}